:root {
    --color-text-dark: #1B1A1A;
    --color-text-light: #FFFFFF;
    --color-text-gray: #645C55;
    --color-text-gray_2: #403E3B;
    --color-background-dark: #1B1A1A; 
    --color-background-light: #FFFFFF;
    --color-background-light_2: #E5E5E5;
    --color-background-gray: #ECE7E4;
    --color-border: #1B1A1A;
    
    --border-radius: 10px;
    --border-radius-container: 20px;

    --border: 1px solid var(--color-background-light);
    --border-gray: 1px solid var(--color-text-gray);
    --border-dark: 1px solid var(--color-text-dark);
}