.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-light);
    padding: 0 120px;
    min-height: 90px;
    font-family: "Poppins", sans-serif;
    position: fixed;
    z-index: 1;
}

.burger-menu,
.burger-icon {
    display: none;
}

.header .header-control .header-control-list .header-control-list-item a {
    color: var(--color-text-dark);
}

.header .header-logo .header-logo-image {
    min-width: 220px;
}

.header .header-control {
    display: flex;
}

.header .header-control .header-control-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 30px;
}

.header .header-control .header-control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 155px;
    border-radius: var(--border-radius);
    background-color: var(--color-background-dark);
}

.header .header-control .header-control-button a {
    color: var(--color-text-light);
}

.header .header-control .header-control-button:hover {
    background-color: var(--color-background-light);
    border: 1px solid var(--color-border);
}

.header .header-control .header-control-button:hover a {
    color: var(--color-text-dark);
}

.header .burger-menu .burger-logo-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .burger-menu .burger-logo-back-button .burger-menu-close {
    cursor: pointer;
}

.header .burger-bck-shadow {

    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--color-background-dark);
    filter: opacity(0.5);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.header .burger-menu {

    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transition: all 0.2s ease;
    z-index: 1;
    padding-inline: 50px;
}

.header .burger-menu .burger-logo-back-button {
    padding: 30px;
}

.header .burger-menu .burger-logo-back-button .burger-menu-close{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 30px;
}

.header .burger-menu .header-control-list .header-control-list-item a {
    color: var(--color-text-dark);
}

.header .burger-menu .burger-control-button-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.header .burger-menu .header-control-button {
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius);
    width: 175px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.header .burger-menu .header-control-button a {
    color: var(--color-text-light);
}

@media (max-width: 1060px) {

    .header {

        padding-inline: 0;
    }

    .header .header-control {
        display: none;
    }

    .header .header-logo {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }

    .header .burger-icon {
        display: block;
        cursor: pointer;
        margin-left: 20px;
    }

    .header .burger-icon svg {
        width: 50px;
        aspect-ratio: 1;
    }

    .header .burger-menu {
        background-color: var(--color-background-light);
    }

    .header .burger-bck-shadow {
        display: block;
    }

    .header .burger-menu {
        display: flex;
    }
}

@media (max-width: 860px) {
    .header {
        background-color: var(--color-background-dark);
        border-bottom: var(--border);
    }

    .header .header-logo {
        filter: brightness(0) invert(1);
    }

    .burger-icon svg {
        width: clamp(30px, 6vw, 50px);
        aspect-ratio: 1;
        filter: brightness(0) invert(1);
    }

    .header .burger-menu {
        background-color: var(--color-background-dark);
    }

    .header .burger-menu .header-control-list .header-control-list-item a {
        color: var(--color-text-light);
    }

    .burger-menu .burger-logo-back-button .header-logo-burger {
        filter: brightness(0) invert(1);
    }

    .header .burger-menu .header-control-button {
        background-color: var(--color-background-light);
        color: var(--color-text-dark);
    }

    .header .burger-menu .header-control-button a {
        color: var(--color-text-dark);
        font-size: 14px;
    } 

    .burger-menu .burger-menu-close svg {
        width: clamp(30px, 6vw, 50px);
        aspect-ratio: 1;
        filter: brightness(0) invert(1);
    }

}